@import "vars";
@import "libs";
@import "fonts";



@import "media";

* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url(..//img/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 800px;
  padding-top: 30px;

}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 141px;
}


.menu__list li {
  display: inline-block;
  margin-right: 50px;
}

.menu__list li:last-child {
  margin: 0;

}

.menu__list-link a:hover {
background-color:#fff;
opacity: 10;
}


.menu__list-link {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  opacity: 0.5;
}

.login {
  margin-right: 44px;

}

.singup {
  border-radius: 20px;
  font-size: 15px;
  line-height: 24px;
  background-color: #fff;
  color: #250F8A;
  font-weight: 600;
  padding: 8px 43px;

}



.header-btn {}

.header-slider {}

.header-slider__item {}

.header-slider__item-content {
display: flex;

}

.header-slider__item-info {
  margin-right: 67px;
  width: 506px;
  width: 100%;
}

.header-slider__title {
  color: #fff;
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header-slider__text {
  font-size: 24px;
  line-height: 55px;
  color: #fff;
  margin-bottom: 60px;
}

.header-slider__btn {
background-color:#FFCA00;
padding: 13px 39px;
display: inline-block;
border-radius:20px;
}

.header-slider-item-img {
width: 516px;

}